# under development
#release after 2021-11-12
algorithmDesign/list/terceira_lista/**

#release after 2021-11-12
digitalSystems/EP2/**

#release after 2021-11-19
PEA/ETAPA_4/**
############################


**/.vscode

algorithmDesign/**/*.o
algorithmDesign/**/*_exec

digitalSystems/**/work
digitalSystems/**/modelsim.ini
digitalSystems/**/transcript
digitalSystems/**/*.wlf
