# under development
algorithmDesign/list/terceira_lista/**
digitalSystems/EP2/**
PEA/ETAPA_4/**
############################


**/.vscode

algorithmDesign/**/*.o
algorithmDesign/**/*_exec

digitalSystems/**/work
digitalSystems/**/modelsim.ini
digitalSystems/**/transcript
digitalSystems/**/*.wlf
